<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pjv.koranlu2.documenteditor" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Icon: CC Attribution-NonCommercial-NoDerivs 3.0 Unported, http://www.softicons.com/system-icons/lozengue-filetype-icons-by-gurato -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/xml_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="text/xml" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NodeDetailActivity"
            android:label="@string/title_activity_node_detail"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:icon="@drawable/ic_chooser"
            android:enabled="true"
            android:exported="true"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
